/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
    padding: 0 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    background-color: #f0f0f0;
}

nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}
*/
* {

    margin: 0;
    padding: 0;
    display: border-box;

}

.navbar {


    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);

}

.logo {

    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 300px 0 350px;
}

.logo a {

    text-decoration: none;
    color: rgb(0, 0, 0);
}

.menu {

    display: flex;
    gap: 10px;
    list-style-type: none;

}

.menu li {
    margin-left: 30px;
}

.menu li a {
    color: rgb(0, 0, 0);
    text-decoration: none;

}

.dropdown {
    /*display:none;*/
    position: relative;
    display: flex;
    align-items: center;


}

.dropdown-menu {

    display: none;
    list-style-type: none;
    position: absolute;
    text-wrap: nowrap;
    white-space: nowrap;
    padding: 50px;
    align-items: center;
    left: -100px;
    top: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.dropdown:hover .dropdown-menu {
    background-color: #fff;
    border-radius: 0 0 20px 0;
    opacity: 0.7;
    display: block;
}

.encabezado-img {

    background-image: url('/assets/portada-menu.jpg');
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.encabezado-img h1 {

    font-size: 40px;
    justify-content: center;
    color: #ffffff
}

/* BUSCADOR MENÚ */

.box {
    height: 0.5px;
    display: flex;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 30px;
    align-items: center;
    
}

.box:hover input {
    width: 100px;
}

.box input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 400;
    transition: 0.6s;
    background: transparent;
}

.box a .fas {
    color: #797979;
}


/* CAJAS DE INFORMACION DEBAJO DE LA IMAGEN DE PORTADA */

.contenedor {
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 1100px;

}

.carta {
    width: 100%;
    /*margin: 20px;
    border-radius: 6px;*/
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.carta:hover {
    box-shadow: 5px 5px 5px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-1%);
}

.carta img {
    width: 100%;
    height: 700px;
}

.carta .contenido {
    padding: 15px;
    text-align: center;
}

.carta .contenido p {
    line-height: 1.5;
    color: #6a6a6a;
}

.carta.contenido h3 {
    font-weight: 400;
    margin: 0 0 0 15px;
}

.carta .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin: 10px 0 0 0;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}

.carta.contenido a:hover {
    background: #2fb4cc;
    color: #c41c1c;
}

/* PÁGINA MENU ANILLOS */

.encabezado-img-anillos {

    background-image: url('/assets/anillos-portada-menu.jpg');
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.encabezado-img-anillos h1 {

    font-size: 40px;
    justify-content: center;
    margin: 50px 0 0 0;
    color: #ffffff
}


/* GALERIA DE PRODUCTOS */
.contenedor-anillos {
    position: relative;
    width: 100%;
    display: flex;
    max-width: 1100px;
    justify-content: center;
    align-items: center; 
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
    grid-gap:30px;
}

.gallery img{
    width: 100%;
    
}

.carta-anillos {
    width: 100%;
    margin: 20px 0 0 0;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 2px rgba(86, 86, 86, 0.1);
    cursor: default;
    transition: all 400ms ease;
}

.carta-anillos:hover {
    box-shadow: 2px 2px 2px 15px rgba(111, 111, 111, 0.1);
    transform: translateY(-1%);
}

.carta-anillos .contenido {
    padding: 15px;
   /* text-align: center;*/
}

.carta-anillos .contenido p {
    line-height: 1.5;
    color: #6a6a6a;
}

.carta-anillos.contenido h3 {
    font-weight: 400;
    margin: 0 0 0 15px;
}

.carta-anillos .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin: 10px 0 0 0;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}

.carta-anillos.contenido a:hover {
    background: #2fb4cc;
    color: #c41c1c;
}


